#nav {
    list-style-type: square;
    margin: 0;
    padding-left: 900px;
    font-size: x-large;
  



}

.nav {
    display: inline;
    width: 5%;
    height: 5ex;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: solid;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 5px;

}

h1 {
    color: brown;
}

#about {
    color: rgb(22, 58, 156);
}

#recipe {
    background-color: rgb(201, 190, 187);
    padding: 15px;
    width: 700px;

}

.h3 {
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
}